@media(max-width: 450px){
    .box1-inside{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 1400px){
    .card-content-p {
        max-width: 90%;
        width: auto;
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 1200px){
    .box1.custom-card::before{
        background: url('');
    }
}

@media(max-width: 1230px){
    .card-span{
        justify-content: center;
        gap: 25px;
    }
}

@media(max-width: 1000px){
    .card-content-h3 , .card-content-p{
        text-align: center;
        margin: auto;
    }

    .animated-icon{
        display: none;
    }

    .card-span{
        display: none;
    }

    .fa-dumbbell{
        text-align: center;
        display: block;
    }
}